<header>
    <title>{{ title }}</title>
</header>
<body>
    <img src="../../assets/verify.jpg" class="fondo" alt="">
    <a href="/inicio"><img src="../../assets/casa.png" class="casa"></a>
    <div class="card">
        <h1>Verifica tu Cuenta</h1><br>
        <th>Hemos enviado un correo a tu email, en el</th><br>
        <th>encontraras el link para poder verificar</th><br>
        <th>tu cuenta.</th><br><br>
        <th>Si no encuentras el correo verifica tu</th><br>
        <th>bandeja de Spam.</th>
    </div>
</body>