.card{
    top: calc(50% - 330px);
}
@media(max-height:750px){
    .card{
        top: calc(50% - 235px);
        left: calc(50% - 205px);
    }
    .btnsocial{
        font-size: 0px;
        width: 45%;
        border-radius: 10px;
    }
    .btncssblue{
        padding: 0.8em;
    }
    .socialdiv{
        text-align: center;
    }
}