<header>
    <title>{{ title }}</title>
</header>
<body>
    <img src="../../assets/forgot.jpg" class="fondo" alt="">
    <a href="/inicio"><img src="../../assets/casa.png" class="casa"></a>
    <div class="card"  *ngIf="!sendemail">
        <h1>Restablecer contraseña</h1><br><br>
        <form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm.value)">
            <th>Correo Electronico</th><br>
            <input type="email" class="formulario" formControlName="Correo" autocomplete="email"><br>
            <button class="btn btncssblue" [disabled]="resetForm.invalid" type="submit">Enviar Correo</button>
        </form>
    </div>
    <div class="card" *ngIf="sendemail">
        <h1>Revisa tu Correo</h1><br>
        <th>Hemos enviado un correo a tu email, en el</th><br>
        <th>encontraras el link para poder restablecer</th><br>
        <th>tu contraseña.</th><br><br>
        <th>Si no encuentras el correo verifica tu</th><br>
        <th>bandeja de Spam.</th>
    </div>
</body>